<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name ="amazon_Menu">

<test name ="Amazon Menu Search">
<parameter name="browser" value="chrome" />

<classes>
<class name ="com.amazonMenu.testCases.TC_SearchTest_001" />
</classes>

</test>

</suite>